.navbar{
    font-family: cursive;
}
.head-banner {
    background-color: rgb(117, 117, 117);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
.titolo-descrizione {
    padding-top: 7rem;
    font-size: 30px;
}

.immagine-personale{
    
    padding-top: 4rem;
}
.immagine-personale img{
    height: 250px;
    width: 250px;
}

.titolo-descrizione{
    font-size: 40px;
    font-family: cursive;
    padding-bottom: 5px;
}
.testo-personale {
    font-size: 23px;
    padding-top: 4rem;
}


.icon {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bi {
    font-size: 60px;
    margin: 20px;
}



.sezione-immagini .immagine {
    min-height: 30rem;
    background-size: cover;
    background-position: center;
   
}
.immagine {
    border: 1px solid black;
}

.testo {
    border: 1px solid black;
}

.sezione-immagini .testo{
    padding: 3rem;
   
}
.titoli-inserzione {
    font-family: cursive;
}
.descrizione-inserzione {
    font-size: 18px;
}

.btn{
    background-color: rgb(138, 4, 4);
    color: beige;
    border: none;
}
.descrizione{
    margin: 5px;
    text-align: left;
}
.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.list-inline-item a{
    color: white;
}
.list-inline-item {
    font-size: 15px;
}
.list-inline-item svg{
    font-size: 30px;
}

.form-email {
    background-color: rgb(117, 117, 117);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: bottom;
}


@media screen and (max-width:767px) {
    .head-banner{
    padding-top: 20rem;
    padding-bottom: 5rem;
}
    
}
@media screen and (min-width: 768px) {
    .head-banner {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}



